<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="includes/base :: css"></head>
    <body>
        <header th:replace="includes/base :: navbar"></header>

        <main role="main " class="container">
            <div th:replace="includes/base :: head-content"></div>
            <div class="container mt-5">
                <div class="row mb-4">
                    <div class="col-12">
                        <h5 class="mb-4">Edit Product</h5>

                        <form method="POST" action="#" th:action="@{/product/prostore}" 
                              th:object="${product}">
                            <input type="hidden" th:field="*{id}" />
                            <div class="form-group">
                                <label for="example-product-name">Insert Product Name</label>
                                <input th:field="*{name}" type="text" class="form-control" 
                                       id="example-product-name" aria-describedby="emailHelp" 
                                       placeholder="example: whiskas" required>
                            </div>
                            <div class="form-group">
                                <label for="example-product-sto">Insert Product Stock</label>
                                <input th:field="*{stock}" type="text" class="form-control" 
                                       id="example-product-sto" aria-describedby="emailHelp" 
                                       placeholder="example: 100" required>
                            </div>
                            <div class="form-group">
                                <label for="example-product-pri">Insert Product Price</label>
                                <textarea th:field="*{price}" class="form-control" 
                                          id="example-product-pri" aria-describedby="emailHelp" 
                                          placeholder="example: 100000"> 
                                </textarea>
                            </div>

                            <div class="form-group">
                                <label for="example-product-des">Insert Product Description</label>
                                <textarea th:field="*{description}" rows="3" class="form-control" 
                                          id="example-product-des" aria-describedby="emailHelp" 
                                          placeholder="example: makanan kucing dan anjing">  
                                </textarea>
                            </div>

                            <div class="form-group">
                                <label for="example-product-exp">Insert Product Expired</label>
                                <textarea th:field="*{expired}" class="form-control"
                                          id="example-product-exp" aria-describedby="emailHelp" 
                                          placeholder="example: YYYY-MM-DD">
                                </textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <div th:replace="includes/base  :: footer"></div>
        <div th:replace="includes/base  :: scripts"></div>
    </body>
</html>