<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="includes/base :: css"></head>
    <body>
        <header th:replace="includes/base :: navbar"></header>
        <main role="main " class="container">
            <div th:replace="includes/base :: head-content"></div>
            <div class="container">
                <div class="row">
                    <div class="col-12 mt-5">
                        <h1>Hello Admin<span th:text="${session.name}"></span>! 
                            <a th:href="@{/employee/empcreate}"  class="btn btn-primary">
                                <img src="img/icons8-plus-+-24.png">
                            </a>
                        </h1>
                        <table class="table table-hover">
                            <tr>
                                <th>Name</th>
                                <th>Divisi</th>
                                <th>Gender</th>
                                <th>Telephone</th>
                                <th>Address</th>
                                <th>Admin</th>
                                <th>Action</th>
                            </tr>
                            <tr th:each="employee : ${employees}">
                                <td th:text="${ employee.name }"></td>
                                <td th:text="${ employee.divisi.name }"></td>
                                <td th:text="${ employee.gender }"></td>
                                <td th:text="${ employee.telephone }"></td>
                                <td th:text="${ employee.address }"></td>
                                <td th:text="${ employee.admin.name }"></td>
                                <td>
                                    <div class="btn-group " role="group " aria-lsabel="Basic example ">
                                        <a th:href="@{/employee/{id}/empedit(id=${ employee.id })}"  
                                           class="btn btn-info text-white ">
                                            <i class='bx bx-pencil'></i>
                                        </a>
                                        <form onSubmit="return confirm('Do you really want to delete?')" 
                                              method="POST" action="#" 
                                              th:action="@{/employee/{id}/delete(id=${ employee.id })}">
                                            <button type="submit" class="btn btn-danger text-white ">
                                                <i class='bx bx-trash'></i>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <div th:replace="includes/base  :: footer"></div>
        <div th:replace="includes/base  :: scripts"></div>
    </body>
</html>
