/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}


body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(249, 255, 153, 1),rgba(249, 255, 153, 1));
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #f5f5f5;
}


/* Custom page CSS
  -------------------------------------------------- */


/* Not required for template or sticky footer method. */

body>.container {
    padding: 60px 15px 0;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.btn{
    margin: 2px;
}

.btn-primary{
    margin: 2px;
    padding-right: 10px;
    border-radius: 6px;
}

.btn-info text-white{
    border-radius: 5px;
}
