<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="includes/base :: css"></head>
    <body>
        <header th:replace="includes/base :: navbar"></header>
        <main role="main " class="container">
            <div th:replace="includes/base :: head-content"></div>
            <div class="container">
                <div class="row">
                    <div class="col-12 mt-5">
                        <h1>Hello Admin<span th:text="${session.name}"></span>! <a th:href="@{/customer/cuscreate}"  class="btn btn-primary">
                        <img src="img/icons8-plus-+-24.png">
                           </a></h1>
                        <table class="table table-hover">
                            <tr>
                                <th>Name</th>
                                <th>Telephone1</th>
                                <th>Telephone2</th>
                                <th>Address</th>
                                <th>Action</th>
                            </tr>
                            <tr th:each="customer : ${list}">
                                <td th:text="${ customer.name }"></td>
                                <td th:text="${ customer.telephone1 }"></td>
                                <td th:text="${ customer.telephone2 }"></td>
                                <td th:text="${ customer.address }"></td>
                                <td>
                                
                                    <div class="btn-group " role="group " aria-lsabel="Basic example ">
                                        <a th:href="@{/customer/{id}/cusedit(id=${ customer.id })}"  class="btn btn-info text-white ">
                                            <i class='bx bx-pencil'></i>
                                        </a>
                                        <form onSubmit="return confirm('Do you really want to delete?')" method="POST" action="#" th:action="@{/customer/{id}/delete(id=${ customer.id })}">
                                            <button type="submit" class="btn btn-danger text-white "><i class='bx bx-trash'></i></button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <div th:replace="includes/base  :: footer"></div>
        <div th:replace="includes/base  :: scripts"></div>
    </body>
</html>
